body {
  background-color: #F4F4F9;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#top {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

h1 {
  font-size: 4.4rem;
  text-align: center;
  color: #2F4550;
  font-family: 'Libre Caslon Display', serif;
}
#tagline {
    color: #2F4550;
    margin-top: -1rem;
}
/* 1. change underlining to none */
a {
  color: #00a896;
  text-decoration: none;
}

/* 2. add dotted border to a */
a:hover {
  border-bottom: 1px dotted;
}

p {

  font-size: 1.8rem;

}

.card-text {
  font-size: 0.8rem;
}

.courseRow {
  margin-top: 2rem;
}

footer {
  min-height: 10rem;
}
